@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for horizontal overflow */
.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
